* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    padding: 5rem;
    font-family: 'Open Sans', sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

#high-scores-btn {
    color: #f6b2ff;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    font-size: 2rem;
    cursor: pointer;
}

#high-scores-btn:hover {
    color: #ea7ef8;
}

.start {
    margin-top: 10rem;
    height: 50vh;
    text-align: center;
}

.start__title {
    text-transform: capitalize;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.start__btn {
    margin-top: 3rem;
    color: #f4effa;
    background-color: #532b88;
    padding: 1.5rem 4rem;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start__btn:hover {
    background-color: #2f184b;
}

.question {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50vw;
    margin: 0 auto;
    margin-top: 10rem;
}

.answers {
    display: flex;
    flex-direction: column;
}


.answers__btn {
    margin-top: 1.5rem;
    color: #f4effa;
    background-color: #532b88;
    padding: 1.5rem 4rem;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.answers__btn:hover {
    background-color: #2f184b;
}

.feedback {
    margin-top: 2rem;
    color: #8d8a90;
    font-size: 3rem;
}

.done-box {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50vw;
    margin: 0 auto;
    margin-top: 10rem;
    height: 30rem;
}

#score {
    margin: 1rem 0;
}

form {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-input {
    width: 40%;
    height: 4.5rem;
    border-radius: 5px;
    border: none;
    font-size: 2rem;
    font-family: inherit;
    padding-left: .5rem;
    border: 2px solid #532b88;
    text-transform: uppercase;
}


.form-btn {
    color: #f4effa;
    background-color: #532b88;
    padding: 1rem 4rem;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-btn:hover {
    background-color: #2f184b;

}

.hidden {
    display: none;
}

.visible {
    display: block;
}